@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local("Open Sans Regular"), local("OpenSans Regular"), url(../fonts/OpenSans-Regular.ttf) format('ttf');
  }
body {
    font-family: 'Open Sens', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    background-color: rgb(3, 99, 83);
}
header {
    background-color: #F6F2F2;
    max-width: 1580px;
    margin: 0 auto;
    padding-top: 28px;
    padding-bottom: 1px;
}
main {
    max-width: 1580px;
    background-color: #ffffff;
    margin: 0 auto;
}

/* блок 1 */

.menu-board {
    display: flex;
    background-color: #000000;
    max-width: 1250px;
    min-height: 89px;
    justify-content: center;
    flex-wrap: wrap;
    margin: 1px auto;
}
.menu-link>a {
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    color: #ffffff;
}
.menu-link {
    display: flex;
    padding: 38px 23px 26px 23px;
}
.menu-link:hover {
    background-color: #FF3F40;
}
.menu {
    display: flex;
    max-width: 1250px;
    margin: 101px auto;
    justify-content: space-between;
    flex-wrap: wrap;
}
.menu-text>h1 {
    text-transform: uppercase;
    font-size: 60px;
    font-weight: 800;
    line-height: 72px;
    margin: 10px 0px;
    margin-bottom: 36px;
}
.menu-text>p {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 40px;
}
.menu-text {
    max-width: 550px;
}
.menu-button>a {
    text-transform: capitalize;
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
}
.menu-button {
    background-color: #FF3F40;
    width: 227px;
    height: 55px;
    text-align: center;
    line-height: 60px;
    border-radius: 5px;
    margin-bottom: 20px;
}
.menu-video {
    width: 554px;
    height: 360px;
    box-shadow: 0 0 50px 5px rgb(80, 80, 80);
}

/* блок 2 */

.content {
    display: flex;
    max-width: 1250px;
    margin: 0 auto;
    padding-top: 108px;
    flex-wrap: wrap;
    background-color: white;
}
.content-left {
    max-width: 540px;
    margin-right: 100px;
}
.content-left>h2 {
    font-size: 42px;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    line-height: 55px;
    margin-bottom: 50px;
}
.content-left>p {
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 64px;
}
.content-button {
    border: 2px solid;  
    border-color: #FF3F40;
    width: 227px;
    height: 55px;
    text-align: center;
    line-height: 60px;
    border-radius: 5px;
    margin-bottom: 30px;
}
.content-button>a {
    text-transform: capitalize;
    text-decoration: none;
    color: #FF3F40;
    font-size: 18px;
    font-weight: 700;
}
.content-right {
    display: flex;
    flex-wrap: wrap;
    max-width: 610px;
}
.content-right-block {
    width: 46%;
    padding-left: 4%;
}
.content-right-block>img{
    margin: 0 0 31px 0;
}
.content-right-block>h5 {
    font-weight: 600;
    font-size: 24px;
    margin: 0 0 13px 0;
}
.content-right-block>p {
    font-weight: normal;
    font-size: 16px;
    line-height:28px;
    margin: 0 0 52px 0;
}

/* блок 3 */

.product {
    display: flex;
    max-width: 1250px;
    margin: 0 auto;
    padding-top: 108px;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: white;
}
.product hr {
    width: 134px;
    color: red;
    margin: 0 auto 86px auto;
}
.product-top {
    display: flex;
    max-width: 600px;
    margin: 0 auto;
    flex-direction: column;
}
.product-top>h3 {
    font-size: 42px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    margin: 104px 0 26px 0;
}
.product-top>p {
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
    text-align: center;
    margin: 0 0 33px 0;
}
.product-menu {
    display: flex;
    max-width: 1250px;
    margin: 0 auto;
    justify-content: center;
    flex-wrap: wrap;
}
.product-link {
    margin: 0 30px 40px 30px;
}
.product-link>a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 22px;
    color: #000000;
}
.product-link>a:hover {
    color: #FF3F40;
}
.product-gallery {
    display: flex;
    max-width: 1266px;
    margin: 0 auto;
    flex-wrap: wrap;
    background-color: #ffffff;
}
.product-img {
    width: 300px;
    height: 293px;
    margin: 8px 8px;
}

/* блок 4 */

.team-top {
    display: flez;
    max-width: 1250px;
    margin: 0 auto;
    background-color: #ffffff;
}
.team-top>h3 {
    max-width: 500px;
    font-size: 42px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 105px 0 35px 0;
}
.team-top>p {
    max-width: 450px;
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
    margin: 0 0 38px 0;
}
.team-top>hr {
    width: 134px;
    color: #FF3F40;
    margin: 0 0 60px 0;
}
.team-gallery {
    display: flex;
    max-width: 1260px;
    background-color: #ffffff;
    flex-wrap: wrap;
    margin: 0 auto;
}
.team-director {
    width: 390px;
    height: 462px;
    margin: 0 5px 15px 0;
}
.team-staff {
    display: flex;
    max-width: 880px;
    flex-direction: column;
    margin: 0 0 0 0;
}
.team-text>h4 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 30px;
    margin: 5px 0 35px 0;
}
.team-text>p {
    font-size: 16px;
    line-height: 28px;
    max-width: 660px;
    margin: 0 0 47px 0;
}
.team-menu{
    display: flex;
}
.team-social {
    margin: 0 20px 47px 0;
}
.team-social>a {
    text-decoration: none;
    color: #000000;
    font-style: italic;
    font-size: 18px;
}
.team-staff-gallery {
    display: flex;
    flex-wrap: wrap;
}
.team-staff-photo {
    display: flex;
    position: relative;
    margin: 0 16px 20px 0;
}

.team-staff-photo-text {
    display: inline-block;
    position: absolute;
    width: 197px;
    height: 37px;
    background-color: rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    line-height: 8px;
    bottom: 0px;
}

/* блок 5 */

.send-mail {
    display: flex;
    max-width: 1579px;
    padding: 100px 0;
    background-color: #2C2C2C;
    flex-direction: column;
    align-items: center;
}
.send-mail>h3 {
    color: #F6F2F2;
    font-size: 42px;
    font-weight: 600;
    margin: 0 0 16px 0;
}
.send-mail>p {
    color: #ffffff;
    font-size: 16px;
    margin: 0 0 57px 0;
}
.send-mail-form {
    max-width: 800px;
    border: 0px;
}
.send-mail-form>input {
    width: 514px;
    border-radius: 5px;
    border-color: #ffffff;
    font-size: 16px;
    text-transform: capitalize;
    padding: 20px 20px;
    margin: 0 20px 20px 0;
}
.send-mail-form>button {
    width: 217px;
    background-color: #FF3F40;
    border-radius: 5px;
    border: 0px;
    text-transform: uppercase;
    font-size: 18px;
    color: #ffffff;
    padding: 20px 0;
}

/* блок 6 */

.get-in {
    display: flex;
    max-width: 1419px;
    margin: 0 0 0 auto;
    padding: 100px 0 40px 0;
    flex-direction: column;
}
.get-in-text {
    display: flex;
    max-width: 710px;
    flex-direction: column;
    margin: 0 0 0 0;
    justify-content: flex-end;
}
.get-in-text>h3 {
    font-size: 42px;
    text-transform: uppercase;
    margin: 0 0 46px 0;
}
.get-in-text>p {
    font-size: 16px;
    margin: 0 0 58px 0;
}
.get-in-text>hr {
    max-width: 134px;
    margin: 0 0 73px 0;
    color: #FF3F40;
}
.get-in-blok-main {
    display: flex;
    max-width: 1419px;
    flex-wrap: wrap;
    justify-content: right;
}
.get-in-blok1 {
    max-width: 734px;
    margin: 0 104px 0 0;
}
.get-in-blok1-1 {
    width: 300px;
    height: 69px;
    font-size: 19px;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    border: 0px;
    padding:0 0 0 40px;
    margin: 1px 40px 43px 0;

}
.get-in-blok1-2 {
    width: 302px;
    height: 68px;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    border: 0px;
    padding: 0 0 0 40px;
    margin: 0 0 43px 0;
}
.get-in-blok1-3 {
    width: 690px;
    height: 252px;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    border: 0px;
    padding: 0 0 0px 40px;
    margin: 0 0 52px 0;
}
.get-in-blok1-4 {
    width: 731px;
    height: 75px;
    font-size: 18px;
    background-color: #FF3F40;
    border-radius: 5px;
    border: 0px;
}
.get-in-blok2 {
    max-width: 580px;
    background-color: #2d2d2d;
    padding: 130px 184px 130px 81px;
    margin: 0 0 0 0;
}
.get-in-blok2>h5 {
    max-width: 315px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
    color: #ffffff;
}
.get-in-blok2>p {
    max-width: 315px;
    font-size: 16px;
    line-height: 28px;
    color: #ffffff;
}

/* блок 7 */

footer {
    background-color: #313030;
    display: flex;
    max-width: 1586px;
    margin: 0 auto;
}
.footer-address {
    color: #ffffff;
}